<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<h2> Enter a question: </h2>

<form class="question-form" action="/questions" method="post">
  <label for="title"> Title: </label> <p>
  <input type="text" name="title" id="title"> <p>
  <label for="question"> Body </label> <p>
  <textarea name="question" rows="8" cols="80" id="question"></textarea>
  <input type="submit" value="Submit Question">
</form>
